<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
=======

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
>>>>>>> 8b5ed19b8c8d457afbe416e7e0e37484e86908a9
}

h1 {
    text-align: center;
<<<<<<< HEAD
}

#servicios {
    margin-top: 20px;
}

.servicio {
    margin-bottom: 10px;
}

#resultado {
    margin-top: 30px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
=======
    color: #11005f;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    text-align: center;
}

/* Contenedor de los servicios */
#servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.servicio {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.servicio:hover {
    transform: translateY(-10px);
}

.servicio input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo para el botón de finalizar cotización */
#finalizar {
    display: block;
    background-color: #286ea7;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 30px auto 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

/* Estilos para el resumen de la cotización */
#resultado {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

#resultado ul {
    list-style-type: none;
    padding: 0;
}

#resultado li {
    margin: 5px 0;
}

#resultado strong {
    color: #270761;
    font-size: 22px;
>>>>>>> 8b5ed19b8c8d457afbe416e7e0e37484e86908a9
}